html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #e6e6e6;
  }
} */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameBoardCellDisplay {
  border: black 1px solid;
  height: 6em;
  width: 6em;
}

.GameBoardDisplay {
  background-color: #fed563;
  border: 9px black solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.GameBoardDisplay,
.Marker {
  border-radius: 30px;
}
.Marker {
  width: 100%;
}
